<div class="navbar border-bottom p-3 shadow p-3 mb-5 bg-body-tertiary fixed-top text-center">
  <%= link_to 'YouCrime', crimes_path, style: 'text-decoration: none; color: black;' %>
  <%= link_to 'Profile', crimes_path, class: 'btn btn-primary' %>
</div>
