<div class="navbar p-3 bg-body-tertiary text-center">
  <%= link_to 'YouCrime', crimes_path, style: 'text-decoration: none; color: white;' %>
  <% if !current_user %>
    <%= link_to 'Login', new_user_session_path, class: 'btn btn-white' %>
  <% else %>
    <%= link_to 'Logout', crimes_path, class: 'btn btn-white' %>
  <% end %>
</div>
