<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://w0.peakpx.com/wallpaper/306/580/HD-wallpaper-empty-hallway-with-light-turned-on-during-night-time.jpg);">
  <div class="container pt-5 flex-column p-2">
    <h1>YouCrime</h1>
    <p>Safe your time book a Crime</p>
    <%= link_to "get started", crimes_path, class: "btn btn-primary" %>
  </div>
</div>
