.badge {
  color: #0e8931;
  border: 2px solid #0e8931;
  padding: 8px 24px;
  border-radius: 16px;
  opacity: 0.6;
  transition: 0,3s ease;
}

.badge-wrap {
  display: flex;
  width: 240px;
  justify-content: space-between;
}
