.btn-white {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px 24px;
  border-radius: 16px;
  font-weight: lighter;
  opacity: 0.6;
  transition: 0,2s ease;
}

.btn-white:hover {
  box-shadow: 4px 8px 8px rgba(109, 109, 109, 0.8);
  color: #ffffff;
  border: 1px solid #ffffff;
  opacity: 0.6;
}
