#crime-form {
  width: 800px;
  margin: 0 auto;
  background-color: #0E1012;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px 40px 10px;
  // box-shadow: 1px 4px 10px 1px #aaa;
  // font-family: sans-serif;
  text-align: center;
  color: white;
  // background: #1e1f21
}

#crime-form * {
  box-sizing: border-box;
}

#crime-form h2{
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
}

#crime-form input {
  margin-bottom: 15px;
}

#crime-form input {
  display: block;
  height: 32px;
  padding: 6px 16px;
  width: 100%;
  border: 0.5px solid #ffffff;
  background-color: #0E1012;
  color: white;
}

#bio-field {
  // height: 97px !important;
  margin-top: 12px;
  columns: 50;
}


.form-control {
  border: 0.5px solid #ffffff;
  background-color: #0E1012;
  color: white;

  &:focus {
    background-color: #0E1012;
    color: white;
    border-color: #ffffff;
    box-shadow: 0 0 0 0.15rem rgba(255, 255, 255, 0.25);
  }
}

// This solution (trick) is from StackOverflow
input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

#crime-form label {
  color: #ffffff;
  font-size: 0.8em;
  // padding-top: 20px;
}

.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
  margin-top: 12px; ///////
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 20px 10px 20px 10px;
  border: 0.5px solid #ffffff;
  border-radius: 4px;
  background-color: #0E1012;
  text-align: center;
}

.col-form-label {
  font-size: 12px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.category-selector:checked + label {
  color: white !important;
  background: #3095FE !important;
  border-color: white;
}

.category-selector + label:hover {
  background: #1b1b1b;
  transition: 0.1s;
}

.form-input-flex {
  display: flex;
  gap: 16px;
}

.name-price-flex {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.name-col {
  flex-grow: 1;
}

.price-col {
  flex: 0 30%;
}

.crime-button {
 width: 200px !important;
 height: 40px !important;
}

.form-buttons {
  display: flex;
  justify-content: space-around;
}

.form-link-buttons {
  display: flex;
}
