// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

// .navbar {
//   background-color: #0E1012;
// }

.navbar {
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 4;
  padding-right: 20px;
  padding-left: 20px;
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.nav-flex-container {
  display: flex;
  justify-content: space-between;
}

.nav-flex-menu {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.link-menu {
  text-decoration: none;
  color: white;
}

.link-menu:hover {
  color: #bdc1c6;
}
