.progress-icons {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  border-bottom: 1px solid white;
  align-items: center;
  margin-bottom: 8px;
}

.progress-icons-items h2 {
  font-size: 26px;
}

.name-category-info {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  align-items: center;
}
