// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  // background: linear-gradient(90deg, #1E1E1E 0%, #323232 100%); // #202124;
  background: #0E1012;
  color: #bdc1c6;
}

h1 {
  font-size: 50px;
  color: white;
  margin: 32px;
}

h5 {
  font-size: 24px;
}

// background: linear-gradient(90deg, rgb(41, 41, 41) 0%, rgb(173, 173, 173) 100%);
